@import "tailwindcss";

@theme {
  --color-spotify-green: oklch(0.62 0.23 145);
  /* Vibrant Green */
  --color-spotify-black: oklch(0.15 0 0);
  --color-spotify-white: oklch(1 0 0);
  --color-spotify-grey: oklch(0.45 0 0);
  --color-spotify-dark: oklch(0.12 0 0);
}

body {
  background-color: #121212;
  color: white;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-xl border border-white/10 rounded-xl shadow-lg;
    transform-style: preserve-3d;
  }
}